.skills-section{
}
.skills-container{
    margin-top: 4rem 0;
    .skills-title{
        color: white;
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 3rem;
    }
    .skills-bar{
        display: flex;
        align-items: center;
        .skills-text{
            color: white;
        }
        .skills-progress{
            width: 100%;
            .progress-bar{
                width: 20rem;
                height: .5rem;
                background-color: white;
                margin-left: 1rem;
                position: relative;
                background-color: #ff8f633d;
                .inner-progress{
                    background-color: #ff9063;
                    position: absolute;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                }
            }
            }
        }

    }
