.homePage{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.hero-text{
    color:white;
    text-align: center;
    font-size: 50px;
    span{
        color: #FF9063;
    }
}
.h-sub-text{
    text-align: center;
    color: white;
}
// .resume{
//     margin-right: 25px;
//     text-align: center;
   
// }
// .bt-hover:hover{
//     color: #fff;
// }
.icons{
    display: flex;
  
    align-items: center;
    justify-content:center;
    padding: 20px 0;
    .icon-holder{
        margin-right: 1rem;
      
       
        .icon{
          font-size: 40px;
          color: #FF9063; 
          transition: all .4s ease-in-out;
        }
        .ln:hover{
            color: #007CED;
        }
        .gh:hover{
            color: #fff;
        }
    }
}