@import './Styles/layout.scss';
@import './Styles/navBar.scss';
@import './Styles/typhography.scss';
@import './Styles/title.scss';
@import './Styles/about.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color:#222222;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2rem;
}
span{
    color: #ff9063;
}